.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.links a {
    font-size: 18px;
    padding: 2px 15px 2px 15px;
    text-decoration: none;
    color: #eee;
    background-color: #131516;
    border-radius: 6px;
    margin-right: 35px;
}

.links a:hover {
    background-color: #003cff;
    transform: translateY(-4px);
}

@media (min-width: 1080px) and (max-width: 1320px) {
    .links {
        margin-top: 20px;
    }
    
    .links a {
        font-size: 16px;
        margin-right: 20px;
    }
}

@media (min-width: 860px) and (max-width: 1080px) {
    .links {
        margin-top: 20px;
    }
    
    .links a {
        font-size: 14px;
        margin-right: 20px;
    }
}

@media (max-width: 860px) {
    .links {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .links a {
        width: 75%;
        text-align: center;
        font-size: 14px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}