.works {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.work {
    position: relative;
    display: flex;
    width: 48.5%;
    height: 96px;
    background: transparent;
    outline: 0;
    border: 0;    
    border-radius: 18px;
    padding: 0;
    margin-bottom: 24px;
    transition: all 0.3s ease-in-out;
}

.work .workCover {
    border-radius: 18px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.work .workLink {
    position: absolute;
    left: 16px;
    bottom: 12px;
    z-index: 1;
    width: 28px;
    height: 28px;
    opacity: 0;
    transform: translateX(-12px) scale(0.75);
    transition: all 0.15s ease-in-out;
}

.work:hover {
    cursor: pointer;
    transform: translateY(-6px);
    transition: all 0.15s ease-in-out;
}

.work:hover .workCover {
    cursor: pointer;
    filter: brightness(0.2);
    transition: all 0.15s ease-in-out;
}

.work:hover .workLink {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: all 0.15s ease-in-out;
}

@media (min-width: 860px) and (max-width: 1080px) {
    .works {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .work {
        position: relative;
        display: flex;
        width: 100%;
        height: 148px;
        background: transparent;
        outline: 0;
        border: 0;    
        border-radius: 18px;
        padding: 0;
        margin-bottom: 24px;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 860px) {
    .works {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .work {
        position: relative;
        display: flex;
        width: 100%;
        height: 72px;
        background: transparent;
        outline: 0;
        border: 0;    
        border-radius: 18px;
        padding: 0;
        margin-bottom: 24px;
        transition: all 0.3s ease-in-out;
    }
}